{% extends "Shop/__base.html" %}
{% load static %}

{% block title %}
    Logout
{% endblock title %}

{% block link_css %}

{% endblock link_css %}

{% block main %}
    <h2>Logout</h2>
    <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
    </form>
{% endblock main %}


{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h2>Logout</h2>
    <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
    </form>
    {% endblock %}
</body>
</html> {% endcomment %}